demo/ambient-occlusion/windows/Release/
demo/ambient-occlusion/windows/Debug/
tools/FBXConverter/x64/
*.opensdf
*.sdf
*.suo
demo/ambient-occlusion/windows/x64/
tools/envmapblur/windows/x64/
projects/x64/
*.db
*.opendb
